html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-top:-3px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dl{
    margin-bottom: 0rem!important;
}
.wi{
    width: 100%;
    margin: 0 auto;
}
.content{
    width: 100%;
}
.form-group{
    margin-bottom: 100px!important;
    padding-bottom: 20px;
    text-align:center;
    background:#333333;
} 
.pub_form{
    color: white;
}

.polisy{
  width: 50%;
  height: 100px;
  margin: 0 auto;
  overflow: scroll;
  background:white;
  border:solid #f8f8f8;
}
.polisy__title{
	margin-bottom: 20px;
	font-size:20px;
	text-align: center;
}
strong, b {
    font-weight: bold;
}
table { width: 100%; }
th, td  { padding: 10px; border: 1px solid #ddd; }
th  { background: #f4f4f4; }
 
/*----------------------------------------------------
  .company
----------------------------------------------------*/
.company th  { width: 30%; text-align: left; }
.company{
	margin-bottom: 20px!important;
}
.company__title{
	margin-bottom: 20px;
	font-size:20px;
	text-align: center;
}
@media only screen and (max-width:480px){
    .company th,
    .company td{
    width: 100%;
    display: block;
    border-top: none;
    text-align: center
    }
  .company tr:first-child th { border-top: 1px solid #ddd; }
}

.btn-square-shadow {
    width: 180px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    position: relative;
    bottom: 130px;
    left: 70%;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/*タブレット以上*/
@media screen and (min-width:960px){
    .wi{
    width:50%;
    }
    .content{
        width: 50%;
    }
    .form-group{
        margin:-3px auto;
        padding-bottom: 50px;
    }
}