html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	margin-top:-3px;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dl{
    margin-bottom: 0rem!important;
}
.wi{
    width: 100%;
    margin: 0 auto;
}
.content{
    width: 100%;
}
.form-group{
    background: url("./form.png");
    background-size: contain;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 0!important;
    margin: 0 auto;
} 
.pub_form{
    font-size:0.6rem;
    color: white;
}
.polisy{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  overflow: scroll;
  background:white;
  border:solid #f8f8f8;
}
.polisy__title{
	margin-bottom: 20px;
	font-size:20px;
	text-align: center;
}
strong, b {
    font-weight: bold;
}
table { width: 100%; }
th, td  { padding: 10px; border: 1px solid #ddd; }
th  { background: #f4f4f4; }

/*float部分*/
.contents_add{
    display: flex;
}
.aaa{
    width: 70%;
}
.aa{
    width: 30%;
    height: 131px;
    background-color: #EEDB31;
}
.company th  { width: 30%; text-align: left; }
.company{
	margin-bottom: 20px!important;
}
.company__title{
    margin-top:50px;
	margin-bottom: 20px;
	font-size:20px;
	text-align: center;
}
.btn-square-shadow:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}
.button{
    width:60%;
    margin-top: -25px
}
input[type="image"] {
    width: 100%;
}
input[type="text"] {
    background:no-repeat url("./enter.png");
    background-size: contain;
    background-color: #ffffff;
    line-height: 15px;
    text-align: right;
    width:65%;
    height: 25px;
}
@media only screen and (max-width:480px){
    .company th,
    .company td{
    width: 100%;
    display: block;
    border-top: none;
    text-align: center
    }
  .company tr:first-child th { border-top: 1px solid #ddd; }
}
/*タブレット以上*/
@media screen and (min-width:960px){
    .wi{
    width:50%;
    }
    .polisy{
        width: 50%;
    }
    .content{
        width: 50%;
    }
    .form-group{
        margin:-3px auto;
        padding-bottom: 20px;
    }
    .form-group_l{
        margin:-3px auto;
        padding-bottom: 50px;
    }
    .btn-square-shadow{
      margin-top: 10px;
    }
    input.btn-square-shadow {
        width: 55%;
    }
    .pub_form{
      font-size: 1.2rem;
    }
    .button{
      width:100%;
      margin-top:-20px;
    }
    input[type="image"] {
        width: 68%;
    }
    input[type="text"] {
        height: 60px;
        text-align: center;
    }
}




